<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>Hybrid Parts of Speech Tagger</display-name>
  <servlet>
  	<servlet-name>TagText</servlet-name>
  	<servlet-class>com.wordtagger.TaggerServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AboutServlet</display-name>
  	<servlet-name>AboutServlet</servlet-name>
  	<servlet-class>com.wordtagger.AboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TagText</servlet-name>
  	<url-pattern>/tag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TagText</servlet-name>
  	<url-pattern>/webgui/tag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TagText</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TagText</servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AboutServlet</servlet-name>
  	<url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AboutServlet</servlet-name>
  	<url-pattern>/contactus</url-pattern>
  </servlet-mapping>
<welcome-file-list>
<welcome-file>/webgui/index</welcome-file>
</welcome-file-list>
</web-app>
